@mixin font-face($name, $file, $weight, $style) {
    @font-face { 
        font-family: '#{$name}'; 
        src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'), 
             url('../fonts/#{$file}.woff2') format('woff2'), 
             url('../fonts/#{$file}.woff') format('woff'), 
             url('../fonts/#{$file}.ttf') format('truetype'),
             url('../fonts/#{$file}.svg#TitilliumWeb') format('svg'); 
        font-weight: $weight; 
        font-style: $style;
    }
    
    /* font-family: 'Noto Sans KR', sans-serif; */
    @include font-face('Noto Sans KR', 'notoSansKR/noto-sans-kr-v12-latin_korean-100', 100, normal);
    @include font-face('Noto Sans KR', 'notoSansKR/noto-sans-kr-v12-latin_korean-300', 300, normal);
    @include font-face('Noto Sans KR', 'notoSansKR/noto-sans-kr-v12-latin_korean-regular', 400, normal);
    @include font-face('Noto Sans KR', 'notoSansKR/noto-sans-kr-v12-latin_korean-500', 500, normal);
    @include font-face('Noto Sans KR', 'notoSansKR/noto-sans-kr-v12-latin_korean-700', 700, normal);
    @include font-face('Noto Sans KR', 'notoSansKR/noto-sans-kr-v12-latin_korean-900', 800, normal);

    /* font-family: 'Titillium Web', sans-serif; */
    @include font-face('Titillium Web', 'titillium/titillium-web-v8-latin-200', 100, normal);
    @include font-face('Titillium Web', 'titillium/titillium-web-v8-latin-300', 300, normal);
    @include font-face('Titillium Web', 'titillium/titillium-web-v8-latin-regular', 400, normal);
    @include font-face('Titillium Web', 'titillium/titillium-web-v8-latin-600', 500, normal);
    @include font-face('Titillium Web', 'titillium/titillium-web-v8-latin-700', 700, normal);
    @include font-face('Titillium Web', 'titillium/titillium-web-v8-latin-900', 800, normal);
}
