@charset "utf-8";

body {
    line-height: 1.4;
    font-family: 'Titillium Web', 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
body * {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

#layout {
    position: relative;
    width: 100%;
}

header.header,
main.main,
footer.footer {
    position: relative;
    width: 100%;
}

